.main {
  font-family: 'Montserrat', sans-serif;

}

:root {
  --main: #efefef;
  --fade: #7e7e8c;
  --ori: #4169E1;
}

.first {
  background-color: var(--main);
  height: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fome,
.list {
  height: 85%;

}

.fome {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.list div {
  height: 110px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.list div:nth-of-type(1) h1 {
  font-weight: 700;
  box-sizing: border-box;
  padding-left: 20px;
  width: 100%;
}

.list div:nth-of-type(1) h2 {
  color: var(--fade);
  font-weight: 700;
  box-sizing: border-box;
  padding-left: 20px;
  width: 100%;
}

.info_card {
  box-sizing: border-box;
  width: 95%;
  height: 92%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 0.5px solid var(--fade);
}

.info_card img {
  height: 80px;
  margin-left: 100px;
}

.info_card p {
  font-size: 13px;
  letter-spacing: 2px;
  color: var(--fade);
  margin-left: 40px;
  font-weight: 700;

}

.box1 {
  height: 95%;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -7px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.box1 section {
  width: 100%;
  box-sizing: border-box;
}

.rows1 {

  height: 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 2px 5px -1px gray;
  z-index: 1;
}

.rows1 i {

  font-size: 15px;
  cursor: pointer;
}

.rows1 p {

  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 700;
}

.rows2 {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.rows2 div {
  height: 40px;
  width: 150px;
  border-radius: 7px;
  box-sizing: border-box;
  border: 0.5px solid var(--fade);
}

.btn1,
.btn2 {

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.btn1 section,
.btn2 section {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 0.5px solid black;
}

.btn1 section nav,
.btn2 section nav {
  background-color: var(--ori);
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.btn1 p,
.btn2 p {
  font-weight: 700;
}


.sade {
  background-color: #54618a33;

}


.rows3 {
  height: 75%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: red; */

}

.arrow {
  position: absolute;
  /* background-color: rgba(0, 255, 255, 0.341); */
  height: 370px;
  width: 300px;

}

.ar2 {
  height: 30px;
  margin-top: 39px;
  margin-left: 10px;
  /* background-color: rebeccapurple; */
}




.rows3 div:nth-of-type(1) {
  height: 80%;
  width: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;

}

.rows3 div:nth-of-type(1) nav {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 0.5px solid var(--fade);
  cursor: default;
}

.rows3 div:nth-of-type(1) nav:nth-of-type(1) {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 10px;

}

.rows3 div:nth-of-type(1) nav:nth-of-type(1) i,
.rows3 div:nth-of-type(1) nav:nth-of-type(2) i {
  font-size: 20px;
}

.rows3 div:nth-of-type(1) nav:nth-of-type(1) p,
.rows3 div:nth-of-type(1) nav:nth-of-type(2) p {
  font-size: 13px;
  margin-left: 20px;
  letter-spacing: 1px;
  color: var(--fade);

}

.rows3 div:nth-of-type(1) nav:nth-of-type(2) {
  margin-top: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
}

.rows3 div:nth-of-type(1) nav:nth-of-type(3) {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.rows3 div:nth-of-type(1) nav:nth-of-type(3) i {
  font-size: 20px;
}

.rows3 div:nth-of-type(1) nav:nth-of-type(3) p:nth-of-type(1) {
  letter-spacing: 1px;
}

.rows3 div:nth-of-type(1) nav:nth-of-type(3) p:not(:nth-of-type(1)) {
  color: #4901ff;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}







.rows3 div:nth-of-type(2) {
  width: 90%;
  height: 45px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: var(--ori);
  color: white;
  cursor: pointer;
  z-index: 1;
}

.p {
  position: absolute;
  height: 582px;
  width: 367px;
  border-radius: 10px;
  background-color: white;
  z-index: 1;
}

.pick_first {
  background-color: var(--ori);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pick_first p:nth-of-type(1) {
  color: whitesmoke;
  font-weight: 800;
  margin-left: 10px;
  cursor: default;
}

.pick_first p:nth-of-type(2) {
  color: white;
  font-weight: 800;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;

}

.pick_second {

  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search1 {

  height: 45%;
  width: 90%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid var(--ori);
  display: flex;
  align-items: center;
}

.search1 i {

  margin-left: 10px;
  font-size: 17px;
}

.search1 input {

  height: 25px;
  width: 85%;
  outline: none;
  border-color: transparent;
  box-sizing: border-box;
  padding: 5px;
  font-weight: 700;
}

.search1 input::-webkit-input-placeholder {
  color: rgba(134, 131, 131, 0.81);
  font-size: 12px;
  font-weight: 100;
}